<p><h2>Lab News</h2> <br>

<h4>Oct 9, 2021</h4>
Congratulations to <b>Jiashu Wang</b> on passing his Ph.D. graduation defense！
<br>
<br>

<h4>Oct 9, 2021</h4>
<b>Jian Li</b> was invited to give a talk entitled “The elimination of multi-component fear memory” at <em>the 2021 Annual Conference of General Psychology and Experimental Psychology under the Chinese Psychological Society</em> at Guiyang.
<br>
<br>

<h4>Sep 30, 2021</h4>
We took a nice photograph together in front of the university library!
<br>
<br>

  
<a href = "https://jianlilab.github.io/news"> >>Read more...</a>

</p>


<!-- <h3> Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul> -->
