<p><h3>Lab News</h3> <br>
<h5>Sep 23, 2021</h5>
A <a href = "https://www.sciencedirect.com/science/article/pii/S0301008221001921">new paper</a> by Jiashu Wang, now at <em>Progress in Neurobiology</em>, proposing a quantitative mental accounting model to capture the heterogeneity of the sunk cost effects among participants and further demonstrating the relevant neural process.
</p>

<!-- <h3> Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul> -->
