---
title: Publications from Learning and Decision-making Lab
layout: default
group: publications
---

<h1>Publications</h1>

<div class="container-fluid">

<div class="row" style="padding-top: 60px; margin-top: -60px;">

<br>

{% assign sorted = site.data.publications | sort: 'published_at' |reverse %}

{% for publication in sorted %}
 
 {{ publication.title | markdownify }}
 
 {% if publication.pdf %}
 
 <a href = "{{publication.url}}" alt = "URL"> <b>URL</b></a> | <a href = "{{publication.pdf}}" alt = "PDF"> <b>PDF</b></a>
 
 {% else %}
 
 <a href = "{{publication.url}}" alt = "URL"> <b>URL</b></a>
 
 {% endif %}
 
<br>
<br>
<br>

{% endfor %}

</div>
</div>

